<h1 class = "header"><%= link_to "Designs", designs_path%></h1> <h1 class = "submission">
  <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize%>'<%if @user.last_name[-1] != 's'%>s
  <% end %> Portfolio:
</h1><br><br>
<% provide(:title, "Users | Portfolio") %>

<div class="small-12 row">
  <% Design.where(user_id: @user.id).reverse.each do |design|%>
    <div class="small-12 medium-6 large-4 columns end">
      <section class="design-display">
          <%= link_to image_tag(design.design_image), design_path(design.id) %>
      </section>
    </div>
  <%end%>
</div>
